
PGHOST=pgbouncer
PGPORT=6432
PGDATABASE=impacted_values
PGUSER=iva_job
PGPASSWORD=
APP_PGUSER=iva_app
APP_PGPASSWORD=
FIRESTARR_AUTHKEY=
AZURE_BLOB_KEY=
FIRESTARR_BLOB_URL=
VITE_TILESERV=http://localhost:7800
VITE_FEATURESERV=http://localhost:9000
TILE_TEMPLATE={prefix}/{ymd}/D{horizon}/tile_{ix}_{iy}.tif
IVA_3979_XMIN=-2421618.74911166
IVA_3979_YMIN=-774687.7157952965
IVA_3979_XMAX=3062991.079527088
IVA_3979_YMAX=4704011.872167985